 <br>
 <h3>Add Customer</h3>
<!-- 
<form class="form-inline mb-4">
  <form [formGroup]="customerForm" (submit)="createCustomer()" class="form-inline mb-4">
    <label class="sr-only" for="Name">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="name" placeholder="name">
    </div>

    <label class="sr-only" for="Phone">Phone</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="phone" placeholder="Phone">
    </div>

    <label class="sr-only" for="Address">Address</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="address" placeholder="Address">
    </div>

    <label class="sr-only" for="membership">Membership</label>
    <div class="input-group mb-2 mr-sm-2">
      <select formControlName="membership" class="form-control">
        <option>Basic</option>
        <option>Pro</option>
        <option>Platinum</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add Customer</button>

  </form>

  <div class="container">

    Value : {{customerForm.value | json}}
  </div> -->


  <div class="example-container form-inline mb-4" fxFlex="row" fxFlexLayout="space-between">
    <form [formGroup]="customerForm" (submit)="createCustomer()">

      <mat-form-field appearance="outline">
        <input matInput formControlName="name" placeholder="Name" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" placeholder="Phone">
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" placeholder="Address">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
          <mat-label>Membership</mat-label>
        <mat-select required formControlName="membership">
          <mat-option>-- None --</mat-option>
          <mat-option value="Basic">Basic</mat-option>
          <mat-option value="Pro">Pro</mat-option>
          <mat-option value="Premium">Premium</mat-option>
        </mat-select>

        <!-- <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label> -->
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" class="justify-content-end btn btn-lg" type="submit"> Create </button>
        <!-- Value : {{customerForm.value | json}} -->
      </div>
    </form>
  </div>

  <div class="container">

   
  </div> 
  