<div class="container" style="justify-content :center">
    <div class="jumbotron"  >
      <h1 class="display-4" align="center">NGRX - Demo</h1>
      <p class="lead " align="center">Demo About Customers CRUD Operation </p>
      <hr class="my-4">
      <p class="lead" align="center">
        <!-- <a class="btn btn-primary btn-lg" [routerLink]="['customers']" role="button">Customers</a> -->
        <button mat-raised-button [routerLink]="['customers']" color="primary"> Customers</button>
      </p>
    </div>
  </div>